extends ../../layouts/default.pug
include ../../mixins/actionTable.pug

block main
  .container
    h1.mb-4 Chi tiết sản phẩm
    
    .row.mb-4
      .col-md-4
        img.img-fluid.rounded(
          src=product.thumbnail
          alt="Ảnh sản phẩm"
          style="max-width: 300px;"
          img-upload-preview
        )
      
      .col-md-8
        .mb-3
          strong.me-2 Tiêu đề:
          span #{product.title}
          if (product.featured)
            span.badge.bg-warning.text-dark.featured nổi bật

        .mb-3
          strong.me-2 Danh mục:
          span #{product.category_name}

        .mb-3
          strong.me-2 Mô tả:
          span !{product.description}
        
        .mb-3
          strong.me-2 Giá:
          span #{product.price}
        
        .mb-3
          strong.me-2 % Giảm giá:
          span #{product.discountPercentage}%
        
        .mb-3
          strong.me-2 Số lượng:
          span #{product.stock}
        
        .mb-3
          strong.me-2 Vị trí:
          span #{product.position}
        
        .mb-3
          strong.me-2 Trạng thái:
          if (product.status === 'active')
            span.badge.bg-success Hoạt động
          else
            span.badge.bg-danger Dừng hoạt động
  
   
    +actionTable(product)
