extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/pagination.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert.pug
include ../../mixins/formatTime.pug

block main

    +alert-success(3000)
    +alert-fail(5000)
    .container
        .row
            .col-12
                +box-head('Đặt hàng thành công')
        p.alert.alert-success Đã đặt hàng thành công. Đơn hàng sẽ được giao tới trong thời gian sớm nhất
  
        .row
            .col-12
                h3.mt-5.mb-4 Thông tin cá nhân 
                table.table
                    tbody
                        tr
                            th(scope="row") Họ tên
                            td= order_info.user_info.full_name
                        tr
                            th(scope="row") Email
                            td= order_info.user_info.email
                        tr
                            th(scope="row") Địa chỉ
                            td= order_info.user_info.address
                        tr
                            th(scope="row") Số điện thoại
                            td= order_info.user_info.phone
                        tr
                            th(scope="row") Thời gian
                            td
                                +fullDetail(order_info.order_date)
                        if order_info.user_info.note
                            tr
                                th(scope="row") Ghi chú
                                td= order_info.user_info.note
        br
        br                 
        .row
            .col-12
                h3.mb-4 Thông tin đơn hàng
                table.table
                    thead
                        tr
                        th(scope="col") #
                        th(scope="col") Sản phẩm
                        th(scope="col") Số lượng
                        th(scope="col") Đơn giá
                        th(scope="col") Thành tiền
                    tbody
                        each product, index in order_info.products
                            tr
                                th(scope="row") #{index + 1}
                                td
                                    img.img-thumbnail(src=product.thumbnail alt=product.title width='80' height='80')
                                    span #{product.title}
                                td= product.quantity
                                td
                                    span.text-decoration-line-through.me-2 #{product.price}
                                    span #{product.newPrice}$
                                td #{(product.quantity * product.newPrice)}$
                            tr.table-active
                                td(colspan="4") Tổng cộng
                                td #{order_info.totalPrice} $

                                            
