extends ../../layouts/default.pug
include ../../mixins/status-filter.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-status.pug
include ../../mixins/alert.pug
include ../../mixins/product-filter.pug
include ../../mixins/formAction.pug

block main

    +alert-success(3000)
    +alert-fail(5000)
    
    h1 Trang nhóm quyền
    
    .card.mb-3  
        .card-header Bộ lọc và Tìm kiếm 
        .card-body 
            .row
                .col-6
                    +filterStatus(filterStatus)

                .col-6 
                   +search-form(find)
   
    .card.mb-3  
        .card-header Danh sách
        .card-body 
            .row 
                .col-10
                    +formChange('roles')
                .col-2
                    if (role.permissions.includes('roles-create'))
                        a(
                            href=`${prefixAdmin}/roles/create`
                            class='btn btn-outline-success'
                        ) + Thêm mới

            table(
                class="table table-hover table-sm"
                check-multi=''
            )
                thead 
                    tr 
                        th 
                            input#checkboxNoLabel.form-check-input(type='checkbox' value='' aria-label='...' name='check-all')

                        th STT 
                        th Tên
                        th Mô tả ngắn
                        th Trạng thái
                        th Hành động
                tbody 
                    each item, index in records
                        tr
                            td 
                                input#checkboxNoLabel.form-check-input(type='checkbox' value=item.id aria-label='...' name='id')
                            td #{index + 1}
                            td #{item.title}
                            td !{item.description}
                            td 
                                if (item.status === 'active')
                                    button(
                                        class='badge bg-success'
                                        data-status =  item.status
                                        data-id = item.id
                                        button-change-status) Hoạt động
                                else 
                                    button(
                                        class='badge bg-danger'
                                        data-status =  item.status
                                        data-id = item.id
                                        button-change-status) Dừng hoạt động
                            td  
                                a(
                                    href=`${prefixAdmin}/roles/${item.id}`
                                    class='btn btn-secondary btn-sm') Chi tiết 
                                if (role.permissions.includes('roles-edit'))
                                    a(
                                        href=`${prefixAdmin}/roles/edit/${item.id}`
                                        class='btn btn-warning btn-sm') Sửa 
                                if (role.permissions.includes('roles-delete'))
                                    button(
                                        class='btn btn-danger btn-sm'
                                        data-id = item.id
                                        button-delete) Xóa

    +formAction('roles')