extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main 
    +alert-success(3000)
    +alert-fail(5000)

    form(
        action=`${prefixAdmin}/auth/login` 
        id="form-create-product" 
        method="POST"
        class='form-login'
    )
          
        h1.mb-4 Đăng nhập
        .mb-3
            label.form-label(for="email") Email
            input.form-control(
                type="email" 
                id="email"
                name="email" 
                required
            )
        .mb-3
            label.form-label(for="password") Mật khẩu 
            input.form-control(
                id="password" 
                name="password"
                type="password"
                required
            )

        .mb-3.text-center
            button.btn.btn-primary(type="submit") Đăng nhập